body{
    width: 100%;
    height: 100%;
}
header{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 150px;
    background-color: rgb(208, 255, 0);
    text-align: center;
    margin: auto;
    font-size: 50px;
}
nav{
    background-color: rgb(220, 253, 128);
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}
#button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 5%;
    height: 60px;
    margin: 40px;
    background-color: rgb(0, 113, 206);
    border-radius: 20px;
    
}
#okno{
    position: absolute;
    top: 26vh;
    left: 10px; 
    margin: 10px;
    padding: 10px;
    background-color: white;
    visibility: hidden;
   
}
#button:hover #okno {
	visibility: visible;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
main{
    width: 100%;
    height:550px;
    background-color: rgb(237, 250, 150);
    text-align: center;
}
img{
    width: 400px;
    height: 500px;

}
footer{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 71, 141);
    text-align: right;
    font-size: 30px;
    clear: both;

}
footer p{
    float: right;
	margin-right: 10px;
}
iframe{
    border-width: 2px;
    border-style: inset;
}
