* {
    margin: 0;
    padding: 0;
    font-size: 0;
} 
header {
    width: 100%;
    height: 200px;
    background-color: rgb(209, 253, 142);
}
header p{
    margin: auto;
    padding: 2%;
    font-size: 100px;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    top:10%;
}
nav{
    width: 25%;
    height: 700px;
    display: inline-block;
    background-color: rgb(168, 166, 166);
    float:left;
}
table{
    position: relative;
    background-color: white;
    font-size: 40px;
    width: 80%;
    top: 30%;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: crosshair;
}
th{
    background-color: rgb(56, 179, 56);
    font-size: 40px;
    color: white;
    padding: 10px;
    border-bottom: solid 3px white;
    
}
td{
    background-color: rgb(125, 172, 125);
    font-size: 40px;
    color: white;
    padding: 10px;
    
}
main{
    width: 50%;
    height: 700px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
img{
    padding: 2%;
    text-align: center;
}
aside{
    width: 25%;
    height: 700px;
    display: inline-block;
    background-color: rgb(168, 166, 166);
    float: right;
}
footer{
    width: 100%;
    height: 60px;
    background-color: greenyellow;
    
    clear: both;
    float: right;
}
footer p{
    font-size: 50px;
    text-align: right;
    float: right;
    color: white;
    
    padding-right: 10px;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#ramka{
    position: relative;
    width: 80%;
    height: 250px;
    background-color: white;
    margin: auto;
    top: 30%;
    border: 1px solid black;
    cursor: help;
}
#ramka p{
    font-size: 37px;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
